<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'WeatherTalk' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ead35624-9146-4ba5-99b3-25a178e332ec</InstrumentationKey>
</ApplicationInsights>